*{
  background-color: lightsteelblue;
}
.content{
    text-align: center;
    padding-top: 100px;
}
input{
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: white;
}
button{
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: cornflowerblue;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 18px;
}
.subtitle{
    font-size: 25px;
}
h3{
    color: midnightblue;
    font-size: 25px;
}
.message{
    font-size: 30px;
    margin-bottom: 10px;
    color: midnightblue;
}
